.ProfileSelector1 {
    color: #fff;
}
.ProfileSelector1 p {
    margin-top: 10px;
}
.ProfileSelector1 button {
    padding: 0.4rem 4rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}